language: python
python:
- '2.6'
- '2.7'
- '3.4'
install:
- pip install .
- pip install -r requirements.txt
- pip install rednose coverage coveralls
script: nosetests test --rednose --verbosity=3 --with-coverage --cover-package ncclient
after_success: coveralls
