name: Run Tests and Check Coverage

on: [push, pull_request]

jobs:
  check_legacy:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ['3.6.15']
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage coveralls
          pip install -r requirements.txt
          pip install -r test-requirements.txt

      - name: Run Check Scripts
        run: |
          pytest test --verbosity=3 --cov=ncclient

  # check_beta:
  #   runs-on: ubuntu-22.04
  #   strategy:
  #     matrix:
  #       python-version: ['3.12.0-beta.3']
  #   steps:
  #     - uses: actions/checkout@v3
  #       with:
  #         submodules: 'recursive'

  #     - name: Setup Python
  #       uses: actions/setup-python@v4
  #       with:
  #         python-version: ${{ matrix.python-version }}

  #     - name: Install Dependencies
  #       run: |
  #         sudo apt install -y python3-dev libxml2-dev libxslt1-dev
  #         python -m pip install --upgrade pip
  #         pip install coverage coveralls
  #         pip install -r requirements.txt
  #         pip install -r test-requirements.txt

  #     - name: Run Check Scripts
  #       run: |
  #         pytest test --verbosity=3 --cov=ncclient

  check:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.7.17', '3.8.18', '3.9.20', '3.10.15', '3.11.10']
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage coveralls
          pip install -r requirements.txt
          pip install -r test-requirements.txt

      - name: Run Check Scripts
        run: |
          pytest test --verbosity=3 --cov=ncclient

      - name: Upload Coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ matrix.python-version }}
          COVERALLS_PARALLEL: true
        run: |
          coveralls --service=github

  windows-test:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.11.9']
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install coverage coveralls
          python -m pip install -r requirements.txt
          python -m pip install -r test-requirements.txt
  
      - name: Run Check Scripts
        run: |
          pytest test --verbosity=3 --cov=ncclient
    
  coveralls:
    name: Indicate completion to coveralls.io
    needs: check
    runs-on: ubuntu-20.04
    container: python:3-slim
    steps:
    - name: Finished
      run: |
        pip3 install --upgrade coveralls
        coveralls --service=github --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
